*{
    padding: 0px;
    margin: 0px;
    font-family: 'Prosto One', sans-serif;
}
body{
    width: 1280px;
    height: 4260px;
    margin: auto;
}
.Frame-19{
    display: flex;
    justify-content: space-between;
    padding:30px 72px   ; 
}
.Frame-3{
    display: flex;
    align-items: center ;
}
.Menu-Bar{
    display: flex;
    width: 480px;
    justify-content: space-between;

}
.bar-1{
    background:transparent;
    border: none;
    cursor: pointer;
}
.Frame-2{
    display: flex;
    width: 100px; 
    align-items: center;
    justify-content: space-between;
}
@media (min-width:280px) and (max-width:767px) {
    
}
/* .Frame-16{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}
.asd{
    width: 456px;
    height: 356px;
    margin-right: 75px;
}
.va{
    font-size: 35px;
}
.wc{
    font-size: 16px;
    margin: 30px 0 ;
}
.but{
    background-color:#282828 ;
    width: 236px;
    height: 56px;
    color:rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.la{
    background-color:#F4F4F4;
    height: 175px;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oa{
    display: flex;
    justify-content: space-between;
    width: 1216px;
    margin-bottom: 40px;

}
.ad{
    margin: 0px 0px;
}
.hg{
    display: flex;
    align-items: center;
}
.fab{
    width: 236px;
    height: 56px;
} */