*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
img{
    width:max-content ;
}
header{
    background:#ffffff;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 0 0 10px 10px ;
    -webkit-border-radius: 0 0 10px 10px ;
    -moz-border-radius: 0 0 10px 10px ;
    -ms-border-radius: 0 0 10px 10px ;
    -o-border-radius: 0 0 10px 10px ;
    margin: 0 auto ;
}
.logo{
    width: 120px;
    margin-top: 8px;
}
nav .logo-1 {
    display: none;
}
nav ul {
    display: flex;
    
}
nav ul li a{
    color:#212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius:30px;
}
nav ul li a:hover {
    background:#000000;
    color:#fff;
}
nav ul li a:active {
    background:#000000;
}
.we{
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: space-between;
    margin-right: 60px;
} 
.ass li{
    margin-left: 15px;
}
.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius:5px;
    transition: 0.2s;
}
.hamburger:hover{
    background:#ffffff
}
.hamburger div{
    width: 15px;
    height: 3px;
    margin: 2px;
    background:rgb(0, 0, 0);

}
.wg,
.eg{
    display: none;
}
@media (min-width:280px) and (max-width:767px) {
    headar{
        width: 0;
        padding: 0 20px;
    }
    nav{
        position: absolute;
        left:-300px;
        top:0;
        z-index: 999;
        width: 280px;
        height: 140vh;
        background-color:#ffffff ;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0  rgba(0, 0, 0, 0.5) ;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }
    #nav-check:checked ~ nav{
        left:0;
    }
    nav .logo-1{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        flex-direction: column;
        width: 270px;
    }
    nav ul li a {
        margin-bottom:5px ;
        padding:10px 15px ;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 20px;
    }
    .hamburger{
        display: block;
    } 
    .we{
        display: flex;
        width: 275px;
        margin-right: 100px;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-evenly;
    } 
    li{
        color: #ffffff;
    } 
    .eo{
        display: flex;
        align-items:center;
        border:#000000 solid 1px;
        padding: 8px;
    }
    .fk{
        display: flex;
        align-items:center;
        padding:8px;
    }
    .pm{
        display: flex;
        flex-direction: column;
    }
    .wg,
    .eg{
        display: block;
        color:#000000;
    }
    .eg{
        font-size: 13px;
    }
}
.Frame-16{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}
.asd{
    width: 500px;
    height: 356px;
    margin-right: 75px;
}
.va{
    font-size: 43px;
    font-weight: 600;
}
.wc{
    font-size: 20px;
    margin: 30px 0;
    font-weight: bold;
}
.but{
    background-color: #282828;
    width: 240px;
    height: 50px;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 18px;
}
@media (min-width:280px) and (max-width:767px) {
    .Frame-16{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        height: 700px;
    }
    .Landing-Main-Image img {
        width: 370px;
        height: 340px;
    }
    .asd{
        width: 325px;
        height: 505px;
        margin-right: 0px;
    }
    .va{
        font-size: 30px;
        font-weight: 600;
    }
    .wc{
        font-size: 14px;
        margin: 30px 0;
        font-weight:bold;
    }
    .but{
        background-color: #282828;
        width: 190px;
        height: 55px;
        color: rgb(255, 255, 255);
        border: none;
        cursor: pointer;
    }
}
.la{
    background-color:#F4F4F4;
    height: 270px;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:30px;
    margin-bottom: 100px;
}
.oa{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}
.ad{
    font-size: 20px;
    margin: 0px 30px 0 5px;
}
.hg{
    display: flex;
    align-items: center;
}
.fab{
    width: 255px;
    height: 55px;
    font-size: 25px;
} 
@media (min-width:280px) and (max-width:767px) {
	.la {
	    background-color: #F4F4F4;
	    height: 500px;
	    padding-top: 75px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    font-size: 30px;
	}
	.oa {
	    display: flex;
	    width: 368px;
	    height: 199px;
	    margin-bottom: 40px;
	    flex-wrap: wrap;
	    font-weight: bold;
	    justify-content: space-between;
	}
	.ad {
        font-size: 13px;
        font-weight: bold;
        margin:  0 0 0 10px ;
	}
    .hg{
        width: 148px;
    }
    .hg svg{
        width: 40px;
    }
    .fab {
        width: 252px;
        height: 51px;
        font-size: 20px;
    }
}
.asw{
    text-align: center;
    margin-bottom: 20px;
}
.la-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}
.ke{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.ke img{
    margin: 20px 0;
}
.if{
    display: none;
}
@media (min-width:280px) and (max-width:767px) {
    .la-1{
        display: none;
    }
    .if{
        display: block;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .ce-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ce-1 span{
        margin: 10px 0;
    }
}
.fq{
    background-color: #f4f4f4;
    margin-top: 200px;
    height: 570px;
}
.qw{
    text-align: center;
    font-size: 35px;
    padding:50px 0 ;
}
.ag{
    display: flex;
    justify-content: space-between;
}
.az,
.md{
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;

}
.vs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 380px;
}
.afw{
    font-size: 34px;
    font-weight: bold;
}
.fg{
    width: 260px;
    font-size: 19px;
}
.ch{
    width: max-content;
    border: none;
    font-size: 18px;
}
@media (min-width:280px) and (max-width:767px) {
    .fq{
        margin-top: 40px;
        height: 1025px;
    }
    .ag{
        display: flex;
        flex-direction: column;
    }
    .az,
    .md{
        display: flex;
        justify-content: flex-start;
        width: 375px;
    }
    .md img,
    .az img{
        width:155px;
        height: 400px;
    }
    .vs{
        display: flex;
        flex-direction: column;
        width: 223px;
        height: 60vh;
        justify-content: space-between;
    }
    .fg{
        width: 220px;
    }
    .afw{
        font-size: 24px;
    }

}
.Frame-18{
    display: flex;
    align-items: center;
    margin: 100px 0 ;
}
.xa{
    display: flex;
    height: 245px;
    width: 720px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.lw{
    font-size:40px;
    font-weight: bold;
    margin-left: 10px;
}
.pz{
    width:310px;
}
.ks{
    background: #ffffff;
    width: 227px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 88px;
}
.aq{
    display: none;
}
@media (min-width:280px) and (max-width:767px) {
    .Frame-18{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .xa{
        width: 375px;
    }
    .lw{
        font-size: 27px;
        margin-right: 67px;
        margin-left: 0;
    }
    .pz{
        width: 341px;
    }
    .ks{
        margin-right: 120px;
    }
    .ax{
        display: none;
    }
    .aq{
        display: block;
    }
    .aq img{
        width: 370px;
        height: 300px;
    }
}
.Frame-22{
    background: #F4F4F4;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}
.Frame-21,
.Frame-13,
.gw{
    display: flex;
    flex-direction: column;
}
.cu div{
    margin-bottom: 15px;
}
.df{
    margin-bottom:24px;
}
.gw span{
    margin-bottom: 10px;
}
.ovr{
    display: flex;
}
.ov{
    width: 215px;
}
.Frame-28{
    display: none;
}
@media (min-width:280px) and (max-width:767px) {
    .Frame-22{
        display:none;
    } 
    .Frame-28{
        background: #F4F4F4;
        display:block;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 35px;
        margin-bottom: 80px;
    }
    .df{
        font-size: 19px;
        margin: 15px 0;
        font-weight: bold;
    }
}
/*collections*/
.iav{
    background-image: url(/collections.photo/Rectangle\ 2.png);
    height: 400px;
    background-repeat: round;
}
.iav-1{
    display: none;
}
.kp-1{
    margin:50px 0px 50px 130px;
}
.ih{
    display: flex;
    justify-content: space-evenly;
}
.wj-1{
    display: flex;
}
.mk-2{
    background:#b9b9b9;
    width: 100px;
    height: 2px;
    margin: 15px  25px;
}
.add{
    margin-left:30px;
}
.add-1{
    margin-left:101px;
}
.add-2{
    margin-left:88px;
}
.add-3{
    margin-left:81px;
}
.add-4{
    margin-left:95px;
}
.add-5{
    margin-left:72px;
}
#b-o{
    border: none;
}
.d-1{
    margin:0 0 50px 821px;
}
.p-o{
    display: flex;
    justify-content: space-between;
    width: 950px;

}
.t-p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    justify-content: center;
}
.title-card{
    width: 174px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6px;
}
.price{
    width: 264px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
@media (min-width:280px) and (max-width:767px) {
    .iav{
        display: none;
    }
    .iav-1{
        display: flex;
        background-image: url(/collections.photo/Main\ Image.png);
        height: 180px;
        align-items: baseline;
        justify-content: space-between;
        width: 375px;
        color: #ffffff;
    }
    .kp-1{
        margin: 20px 0 0 10px;
        font-size: 15px;
    }
}