*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
img{
    width:max-content ;
}
header{
    background:#ffffff;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 0 0 10px 10px ;
    -webkit-border-radius: 0 0 10px 10px ;
    -moz-border-radius: 0 0 10px 10px ;
    -ms-border-radius: 0 0 10px 10px ;
    -o-border-radius: 0 0 10px 10px ;
    margin: 0 auto ;
}
.logo{
    width: 120px;
    margin-top: 8px;
}
nav .logo-1 {
    display: none;
}
nav ul {
    display: flex;
    
}
nav ul li a{
    color:#212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius:30px;
}
nav ul li a:hover {
    background:#000000;
    color:#fff;
}
nav ul li a:active {
    background:#000000;
}
.we{
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: space-between;
    margin-right: 60px;
} 
.ass li{
    margin-left: 15px;
}
.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius:5px;
    transition: 0.2s;
}
.hamburger:hover{
    background:#ffffff
}
.hamburger div{
    width: 15px;
    height: 3px;
    margin: 2px;
    background:rgb(0, 0, 0);

}
.wg,
.eg{
    display: none;
}
@media (min-width:280px) and (max-width:767px) {
    headar{
        width: 0;
        padding: 0 20px;
    }
    nav{
        position: absolute;
        left:-300px;
        top:0;
        z-index: 999;
        width: 280px;
        height: 140vh;
        background-color:#ffffff ;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0  rgba(0, 0, 0, 0.5) ;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }
    #nav-check:checked ~ nav{
        left:0;
    }
    nav .logo-1{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        flex-direction: column;
        width: 270px;
    }
    nav ul li a {
        margin-bottom:5px ;
        padding:10px 15px ;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 20px;
    }
    .hamburger{
        display: block;
    } 
    .we{
        display: flex;
        width: 275px;
        margin-right: 100px;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-evenly;
    } 
    li{
        color: #ffffff;
    } 
    .eo{
        display: flex;
        align-items:center;
        border:#000000 solid 1px;
        padding: 8px;
    }
    .fk{
        display: flex;
        align-items:center;
        padding:8px;
    }
    .pm{
        display: flex;
        flex-direction: column;
    }
    .wg,
    .eg{
        display: block;
        color:#000000;
    }
    .eg{
        font-size: 13px;
    }
}
.Frame-90{
    width: 1127px;
    height: 28px;
    display: flex;
    margin:0 0 50px  70px;
    justify-content: space-between;
    align-items: baseline;
}
.Frame-93-and-Cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}
.a-sd,
.ds-a{
    font-family: 'Montserrat', sans-serif;
}
.ds-a{
    color: #A0A0A0;
}
.ads{
    background-color: #A0A0A0;
    width: 250px;
    height: 2px;
}
.Frame-93{
    width: 453px;
    height: 483px;
    /* margin-left: 70px; */
}
.k-w0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 40px;

}
.ow9{
    display: flex;
    width: 453px;
    height: 95px;
    align-content: stretch;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.co-as{
    display: flex;
    justify-content: space-between;
    width: 370px;
    font-family: 'Montserrat', sans-serif;
}
.b-utt{
    background-color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
.op-21{
    display: block;
    width: 180px;
    font-family: 'Montserrat', sans-serif;
}
.a-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65px;
}
.Line-3{
    background-color: #A0A0A0;
    width: 405px;
    height: 3px;
    margin:25px 0 25px 25px;
}
.of-2{
    width: 448px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.wer-2{
    display: block;
    font-family: 'Montserrat', sans-serif;
}
.far-2{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    width: 315px;
    height: 45px;
    margin-left: 80px;
}
.Cards-1{
    background-color: #F4F4F4;
    width: 501px;
    height: 424px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.afc{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    margin-left: 25px;
}
.Frame-89{
    width: 452px;
    height: 261px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qp-3{
    width: 448px;
    display: flex;
    justify-content: space-between;
}
.tou-te{
    font-family: 'Montserrat', sans-serif;
}
.Line-2{
    width: 415px;
    height: 3px;
    background-color: #A0A0A0;
    margin-left: 14px;
}
.ayw{
    display: block;
    width: 255px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.far-1{
    background-color: #282828;
    font-family: 'Montserrat', sans-serif;
    width: 315px;
    height: 45px;
    margin-left: 80px;
    color: #ffffff;
}
.Cards-2{
    background-color: #F4F4F4;
    width: 501px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wer-50{
    display: flex;
    justify-content: space-evenly;
}
.Frame-94{
    background-color: #F4F4F4;
    width: 501px;
    height: 336px;
    margin-right: 97px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 150px;
}
.Frame-99{
    width: 442px;
    height: 184px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wpa{
    display: block;
    width: 395px;
    font-family: 'Montserrat', sans-serif;
}
.mnd-1{
    width: 426px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Frame-80{
    width: 840px;
    height: 434px;
    margin-left: 236px;
}
.as-3{
    font-family: 'Prosto One', sans-serif; text-align: center; 
    margin-bottom: 40px;
}
.q-7{
    display: flex;
    justify-content: space-between;
}
.o-a{
    width: 264px;
}
.title{
    display: flex;
    justify-content: center;
}
.title-card{
    width: 174px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6px;
    font-family:'Montserrat', sans-serif;
}
.price{
    width: 264px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-family:'Montserrat', sans-serif;
}
@media (min-width:280px) and (max-width:767px){
    .Frame-80,
    .Frame-90{
        display: none;
    }
    
}
.Frame-22{
    background: #F4F4F4;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    margin-top: 125px;
}
.Frame-21,
.Frame-13,
.gw{
    display: flex;
    flex-direction: column;
}
.cu div{
    margin-bottom: 15px;
}
.df{
    margin-bottom:24px;
}
.gw span{
    margin-bottom: 10px;
}
.ovr{
    display: flex;
}
.ov{
    width: 215px;
}
.Frame-28{
    display: none;
}
@media (min-width:280px) and (max-width:767px) {
    .Frame-22{
        display:none;
    } 
    .Frame-28{
        background: #F4F4F4;
        display:block;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 35px;
        margin-bottom: 80px;
    }
    .df{
        font-size: 19px;
        margin: 15px 0;
        font-weight: bold;
    }
}