*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
img{
    width:max-content ;
}
header{
    background:#ffffff;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
    border-radius: 0 0 10px 10px ;
    -webkit-border-radius: 0 0 10px 10px ;
    -moz-border-radius: 0 0 10px 10px ;
    -ms-border-radius: 0 0 10px 10px ;
    -o-border-radius: 0 0 10px 10px ;
    margin: 0 auto ;
}
.logo{
    width: 120px;
    margin-top: 8px;
}
nav .logo-1 {
    display: none;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li a{
    color:#212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius:30px;
}
nav ul li a:hover {
    background:#000000;
    color:#fff;
}
nav ul li a:active {
    background:#000000;
}
.we{
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: space-between;
    margin-right: 60px;
} 
.ass li{
    margin-left: 15px;
}
.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius:5px;
    transition: 0.2s;
}
.hamburger:hover{
    background:#ffffff
}
.hamburger div{
    width: 15px;
    height: 3px;
    margin: 2px;
    background:rgb(0, 0, 0);

}
.wg,
.eg{
    display: none;
}
@media (min-width:280px) and (max-width:767px) {
    headar{
        width: 0;
        padding: 0 20px;
    }
    header{
        padding: 20px 10px;
    }
    nav{
        position: absolute;
        left:-300px;
        top:0;
        z-index: 999;
        width: 280px;
        height: 140vh;
        background-color:#ffffff ;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0  rgba(0, 0, 0, 0.5) ;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }
    #nav-check:checked ~ nav{
        left:0;
    }
    nav .logo-1{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        flex-direction: column;
        width: 270px;
    }
    nav ul li a {
        margin-bottom:5px ;
        padding:10px 15px ;
        border-radius: 5px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 20px;
    }
    .hamburger{
        display: block;
    } 
    .we{
        display: flex;
        width: 275px;
        margin-right: 100px;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-evenly;
    } 
    li{
        color: #ffffff;
    } 
    .eo{
        display: flex;
        align-items:center;
        border:#000000 solid 1px;
        padding: 8px;
    }
    .fk{
        display: flex;
        align-items:center;
        padding:8px;
    }
    .pm{
        display: flex;
        flex-direction: column;
    }
    .wg,
    .eg{
        display: block;
        color:#000000;
    }
    .eg{
        font-size: 13px;
    }
}
.Frame-90{
    width: 1127px;
    height: 28px;
    display: flex;
    margin:0 0 138px  290px;
    justify-content: space-between;
    align-items: baseline;
}
.ads{
    background-color: #A0A0A0;
    width: 250px;
    height: 2px;
}
.ds-a{
    font-family: 'Montserrat', sans-serif;
}
.Payment{
    display: flex;
    justify-content: space-around;
}
.Group-31{
    height: 440px;
    width: 264px;
    display: flex;
    flex-direction: column;
}
.Group-31 span{
    font-family: 'Montserrat', sans-serif;
}
.de{
    margin-bottom: 35px;
    font-size: 22px;
}
.sh{
    margin-bottom: 9px;
}
.i-3-7{
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 120px;
    margin-bottom: 110px;
}
.i-3-7 span{
    font-family: 'Montserrat', sans-serif;
}
.bi{
    margin-bottom: 15px;
}
.sa{
    margin-bottom: 45px;
}
.co{
    margin-bottom: 10px;
}
.am{
    margin-bottom: 51px;
}
.ed{
    color: #C3B212;
    cursor: pointer;
}
.prae{
    width: auto;
    display: flex;
    flex-direction: column;
}
.pay{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}
.Rectangle-134{
    width: 360px;
    height: 290px;
    border: #A0A0A0 solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cre{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.viz{
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
}
.amd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mhd{
    width: 249px;
    display: flex;
    justify-content: space-between;
}
.numb{
    display: block;
    margin: 7px 52px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.exc{
    margin-bottom: 10px;
}
.ex{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0 60px;
}
.cv{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.fp{
    font-family: 'Montserrat', sans-serif;
    margin: 0 60px;
}
.li-2{
    display: flex;
}
.Line-7{
    width: 107px;
    height: 1px;
    background: #A0A0A0;
    margin-left: 58px;
}
.adv{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    width: 356px;
    height: 45px;
    margin-top: 35px;
    color: #000000;
    cursor: pointer;
}
.Group-32{
    border: #A0A0A0 solid 2px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin:35px 0 ;
    cursor: pointer;
}
.Cards-1{
    background-color: #F4F4F4;
    width: 501px;
    height: 424px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.afc{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    margin-left: 25px;
}
.Frame-89{
    width: 452px;
    height: 261px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qp-3{
    width: 448px;
    display: flex;
    justify-content: space-between;
}
.qp-3 span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.tou-te{
    font-family: 'Montserrat', sans-serif;
}
.Line-2{
    width: 415px;
    height: 3px;
    background-color: #A0A0A0;
    margin-left: 14px;
}
.ayw{
    display: block;
    width: 255px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.far-1{
    background-color: #282828;
    font-family: 'Montserrat', sans-serif;
    width: 454px;
    height: 45px;
    margin-left: 30px;
    margin-top: 35px;
    color: #ffffff;
    cursor: pointer;
}
.Frame-22{
    background: #F4F4F4;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    margin-top: 125px;
}
.Frame-21,
.Frame-13,
.gw{
    display: flex;
    flex-direction: column;
}
.cu div{
    margin-bottom: 15px;
}
.df{
    margin-bottom:24px;
}
.gw span{
    margin-bottom: 10px;
}
.ovr{
    display: flex;
}
.ov{
    width: 215px;
}